<p>New request received</p>
<p>
    <h3>What Can We Help You With?</h3>
    {{ contact.interest }}<br />
    <h3>Contact Information</h3>
    <b>First Name:</b> {{ contact.first_name|length ? contact.first_name : 'N/A' }}<br />
    <b>Last Name:</b> {{ contact.last_name|length ? contact.last_name : 'N/A' }}<br />
    <b>Email:</b> {{ contact.email|length ? contact.email : 'N/A' }}<br />
    <b>Phone:</b> {{ contact.phone|length ? contact.phone : 'N/A' }}<br />
    {% if contact.message|length %}
        <h3>Message</h3>
        {{ contact.message|markdown }}
    {% endif %}

    {% if contact.service|length %}
        <h3>Services</h3>
        {% for service in contact.service %}
            {{ service }}<br />
        {% endfor %}
    {% endif %}
</p>
<p>Sent from {{ request_ip() }}</p>