<section class="block block-header layout-static">
    <div class="image image-{{ website.header.image_layout }}" style="background-image: url('{{ website.header.image.url() }}'); background-position: {{ website.header.image_position }};">
        <div class="message-wrapper">
            <div class="message">
                <h1>{{ club.title }}</h1>
            </div>
        </div>
    </div>
    <div class="block-navbar">
        <div class="container">
            {{ menu("featured_public").listClass("nav").currentClass("current").render()|raw }}
        </div>
    </div>
</section>