<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">Message</h4>
</div>

<div class="modal-body">
    <p>
        <b>Message Type:</b> {{ type }}
    </p>
    {% if type == "email" %}
        <p>
            <b>Recipients:</b><br />
            {% for recipient in message.to %}
                {{ recipient }}<br />
            {% endfor %}
        </p>
        <p>
            <b>Subject:</b><br />
            {{ message.subject }}<br />
        </p>
        <p>
            <b>Message Body:</b><br />
            <hr>
            {{ message.message|raw }}
        </p>
    {% else %}
        <p>
            <b>Message Body:</b><br />
            <pre>{{ var_export(message) }}</pre>
        </p>
    {% endif %}
</div>
